html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    background: black;
}

#login-page {
   width: 500px;
}


.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 40px; 

}
.hipervinculo{
    color: #1b5e20;
    font-style: italic;
    font-weight: bold;
 }
 .hipervinculo2{
    color: #1b5e20;
    font-weight: bold;
 }
 .cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
 }
 